@import "./keyframes";
@import "./mixins";


@mixin add-monuments() {

  svg {
    opacity: 0;
    position: absolute;

    @include animate(svgFadeInUp) {
      animation-timing-function: ease-out;
      animation-duration: 0.4s;
    }
  }

  .svg-eiffel{
    @include set-svg(0.3s, 0.6, 200px, 415px, 1.7, 0, -30px, 3.5);
  }

  .svg-burj {
    @include set-svg(0.4s, 0.5, 145px, 320px, 1.4, -100px, 220px, 4);
  }

  .svg-pisa {
    @include set-svg(0.4s, 0.5, 85px, 260px, 1.4, 140px, 330px, 4);
  }

  .svg-bigben {
    @include set-svg(0.6s, 0.4, 60px, 300px, 1.4, 70px, 220px, 5);
  }

  .svg-pagoda {
    @include set-svg(0.6s, 0.3, 70px, 190px, 1.4, -120px, 350px, 7);
  }

  .svg-giza {
    @include set-svg(0.7s, 0.25, 20px, 170px, 1.3, -150px, 380px, 8);
  }

  .svg-chichen {
    @include set-svg(0.8s, 0.1, 180px, 130px, 1, 50px, 425px, 24);
  }

  .svg-redeemer {
    @include set-svg(0.9s, 0.03, 140px, 160px, 0.8, 140px, 430px, 43);
  }

  .svg-liberty {
    @include set-svg(0.9s, 0.03, 120px, 320px, 0.5, -130px, 385px, 110);
  }
}