include ../../Atoms/svg-figures/eiffel/template.pug
include ../../Atoms/svg-figures/burj/template.pug
include ../../Atoms/svg-figures/pisa/template.pug
include ../../Atoms/svg-figures/bigben/template.pug
include ../../Atoms/svg-figures/pagoda/template.pug
include ../../Atoms/svg-figures/giza/template.pug
include ../../Atoms/svg-figures/redeemer/template.pug
include ../../Atoms/svg-figures/chichen/template.pug
include ../../Atoms/svg-figures/liberty/template.pug