@mixin is-heading($style){

  @if $style == 'cursive' {
    text-align: center;
    color: rgba(#fff, 0.8);
    text-shadow: 3px 3px 7px rgba(0,0,0,0.2);
    font-size: 34px;
    font-family: $cursive__fontFamily;
  }

  @content;
}