svg(class='svg-burj' xmlns='http://www.w3.org/2000/svg', viewBox='0 0 146.88 318.53')
  defs
    style.
      .burj-1{fill:#e2e2e2;}.burj-2{fill:#fff;}.burj-3{fill:#79b0b7;}
  g#Burj
    polygon#min-_terrace.burj-1(data-name='min-\
    terrace', points='101.59 71.69 119.75 71.73 119.71 55.49 101.55 55.45 101.59 71.69')
    g#building
      g#floors
        path#walls.burj-2(d='M104.27,35.81,105,305.53l-88.38-.23C-14.83,178,36.1,72.17,104.27,35.81Z')
        path#windows.burj-3(d='M98.22,52.63l.62,242.53L28.45,295C3.4,180.5,43.94,85.34,98.22,52.63Z')
        polygon#floor10.burj-2(points='58.69 85.01 101.96 85.12 101.94 78.42 58.67 78.31 58.69 85.01')
        polygon#floor9.burj-2(points='44.03 106.28 102.02 106.43 102 99.73 44.02 99.59 44.03 106.28')
        polygon#floor8.burj-2(points='34.41 127.57 102.07 127.74 102.05 121.04 34.4 120.87 34.41 127.57')
        polygon#floor7.burj-2(points='24.11 148.85 102.12 149.05 102.11 142.35 24.09 142.16 24.11 148.85')
        polygon#floor6.burj-2(points='19.28 170.15 102.18 170.36 102.16 163.66 19.27 163.45 19.28 170.15')
        polygon#floor5.burj-2(points='16.9 191.45 102.23 191.67 102.22 184.97 16.88 184.75 16.9 191.45')
        polygon#floor4.burj-2(points='16.95 212.76 102.29 212.98 102.27 206.28 16.94 206.06 16.95 212.76')
        polygon#floor3.burj-2(points='17.01 234.07 102.34 234.29 102.32 227.59 16.99 227.37 17.01 234.07')
        polygon#floor2.burj-2(points='17.06 255.38 102.39 255.6 102.38 248.9 17.05 248.68 17.06 255.38')
        polygon#floor1.burj-2(points='17.12 276.69 102.45 276.91 102.43 270.21 17.1 269.99 17.12 276.69')
      path#base.burj-2(d='M16.53,300.88l113.73.28c9.15,0,16.59,7.8,16.62,17.37L0,318.15C0,308.59,7.38,300.85,16.53,300.88Z')
      polygon#column.burj-2(points='117.72 301.13 123.9 301.15 123.24 39.55 117.05 39.54 117.72 301.13')
      polygon#_antenna.burj-2(data-name='\
      antenna', points='113.27 76.36 117.15 76.37 116.95 0.01 113.08 0 113.27 76.36')
    polygon#_terrace.burj-1(data-name='\
    terrace', points='73.86 108.63 128.61 108.77 128.58 95.42 73.82 95.28 73.86 108.63')
