svg(class='svg-giza' xmlns='http://www.w3.org/2000/svg', viewBox='0 0 322.1 170.99')
  defs
    style.
      .giza-1{fill:#f4b65d;}.giza-2{fill:#d69d4b;}
  g#giza
    g#right-pyrimid
      polygon#bright-shadow.giza-1(points='232.26 31.19 132.94 170.5 322.1 170.99 232.26 31.19')
      polygon#dark-shadow.giza-2(points='232.26 31.19 258.88 170.82 322.1 170.99 232.26 31.19')
      g#shadows
        path.giza-2(d='M237.16,71.67a.63.63,0,0,1-.56.7l-25.23-.06a.65.65,0,0,1-.56-.71h0a.65.65,0,0,1,.56-.7l25.22.07a.64.64,0,0,1,.57.7Z')
        path.giza-2(d='M226.65,85a.42.42,0,0,1-.37.47l-25.23-.07a.43.43,0,0,1-.37-.47h0a.42.42,0,0,1,.37-.47l25.23.07a.43.43,0,0,1,.37.47Z')
        path.giza-2(d='M209,94.56a.65.65,0,0,0,.57.7l31.63.08a.63.63,0,0,0,.56-.7h0a.65.65,0,0,0-.57-.7l-31.62-.08a.64.64,0,0,0-.57.7Z')
        path.giza-2(d='M236.12,105.87a.63.63,0,0,1-.56.7l-47.44-.12a.65.65,0,0,1-.57-.7h0a.64.64,0,0,1,.57-.7l47.43.12a.65.65,0,0,1,.57.7Z')
        path.giza-2(d='M223,114.27a.65.65,0,0,1,.57-.7l17.69.05a.65.65,0,0,1,.57.7h0a.64.64,0,0,1-.56.7l-17.7,0a.66.66,0,0,1-.57-.71Z')
        path.giza-2(d='M226.75,123.19a.65.65,0,0,0-.56-.71l-45.94-.12a.65.65,0,0,0-.56.7h0a.66.66,0,0,0,.57.71l45.93.12a.65.65,0,0,0,.56-.7Z')
        path.giza-2(d='M213.23,135.57a.43.43,0,0,0-.38-.47L181.23,135a.43.43,0,0,0-.38.47h0a.43.43,0,0,0,.38.47l31.63.08a.43.43,0,0,0,.37-.46Z')
        path.giza-2(d='M247.52,145.49a.43.43,0,0,1-.38.47l-45.93-.12a.43.43,0,0,1-.38-.47h0a.42.42,0,0,1,.38-.46l45.93.11a.45.45,0,0,1,.38.47Z')
        path.giza-2(d='M169.23,153.26a.88.88,0,0,0,.75.94l58,.15a.86.86,0,0,0,.75-.94h0a.86.86,0,0,0-.75-.94l-58-.15a.86.86,0,0,0-.75.94Z')
    g#left-pyrimid
      polygon#bright-shadow-2.giza-1(data-name='bright-shadow', points='120.81 0 0 170.15 230.1 170.75 120.81 0')
      polygon#dark-shadow-2.giza-2(data-name='dark-shadow', points='120.81 0 153.19 170.55 230.1 170.75 120.81 0')
      g#shadows-2(data-name='shadows')
        path.giza-2(d='M126.77,49.44a.78.78,0,0,1-.68.86L95.4,50.22a.79.79,0,0,1-.69-.86h0a.78.78,0,0,1,.69-.85l30.68.07a.8.8,0,0,1,.69.86Z')
        path.giza-2(d='M114,65.72a.52.52,0,0,1-.46.57l-30.68-.08a.52.52,0,0,1-.46-.57h0a.52.52,0,0,1,.46-.57l30.68.08a.53.53,0,0,1,.46.57Z')
        path.giza-2(d='M92.5,77.4a.79.79,0,0,0,.69.86l38.47.1a.79.79,0,0,0,.68-.86h0a.79.79,0,0,0-.69-.86l-38.47-.1a.78.78,0,0,0-.68.86Z')
        path.giza-2(d='M125.51,91.22a.78.78,0,0,1-.69.85l-57.7-.14a.8.8,0,0,1-.69-.87h0a.78.78,0,0,1,.68-.85l57.71.15a.79.79,0,0,1,.69.86Z')
        path.giza-2(d='M109.5,101.48a.79.79,0,0,1,.69-.86l21.52.06a.79.79,0,0,1,.69.86h0a.78.78,0,0,1-.68.85l-21.53,0a.8.8,0,0,1-.69-.86Z')
        path.giza-2(d='M114.11,112.36a.79.79,0,0,0-.69-.86l-55.87-.14a.77.77,0,0,0-.68.85h0a.79.79,0,0,0,.69.86l55.87.15a.78.78,0,0,0,.68-.86Z')
        path.giza-2(d='M97.66,127.49a.53.53,0,0,0-.45-.58l-38.47-.1a.52.52,0,0,0-.46.57h0a.53.53,0,0,0,.46.58l38.47.1a.52.52,0,0,0,.45-.57Z')
        path.giza-2(d='M139.37,139.61a.52.52,0,0,1-.46.57L83,140a.53.53,0,0,1-.46-.58h0a.53.53,0,0,1,.46-.57l55.87.15a.53.53,0,0,1,.46.57Z')
        path.giza-2(d='M44.14,149.09a1.05,1.05,0,0,0,.92,1.15l70.52.18a1,1,0,0,0,.92-1.14h0a1.07,1.07,0,0,0-.92-1.15L45.05,148a1,1,0,0,0-.91,1.14Z')