svg(class='svg-chichen' xmlns='http://www.w3.org/2000/svg', viewBox='0 0 181.13 128.87')
  defs
    style.
      .chichen-1{fill:#e0e0e0;}.chichen-2{fill:#a0a0a0;}.chichen-3{fill:#6d6d6d;}.chichen-4{fill:#3f3f3f;}.chichen-5{fill:#b7b7b7;}.chichen-6{fill:#474746;}
  g#chichen
    g#body
      polygon.chichen-1(points='181.08 128.87 0 128.64 0.05 114.89 181.12 115.12 181.08 128.87')
      polygon.chichen-2(points='181.11 119.9 0.03 119.67 0.05 113.94 181.13 114.17 181.11 119.9')
      polygon.chichen-1(points='171.12 114.16 10.05 113.95 10.1 100.2 171.17 100.4 171.12 114.16')
      polygon.chichen-2(points='171.15 105.19 10.08 104.98 10.1 99.25 171.17 99.45 171.15 105.19')
      polygon.chichen-1(points='162.28 99.44 19 99.26 19.04 85.51 162.32 85.69 162.28 99.44')
      polygon.chichen-2(points='162.31 90.47 19.02 90.29 19.04 84.56 162.33 84.74 162.31 90.47')
      polygon.chichen-1(points='152.54 84.73 28.83 84.57 28.87 70.82 152.59 70.98 152.54 84.73')
      polygon.chichen-2(points='152.57 75.76 28.86 75.6 28.88 69.87 152.59 70.03 152.57 75.76')
      polygon.chichen-1(points='143.79 70.02 37.69 69.88 37.73 56.13 143.83 56.27 143.79 70.02')
      polygon.chichen-2(points='143.81 61.05 37.72 60.91 37.73 55.18 143.84 55.32 143.81 61.05')
      polygon.chichen-1(points='135.37 55.31 46.2 55.19 46.24 41.44 135.42 41.55 135.37 55.31')
      polygon.chichen-2(points='135.4 46.34 46.23 46.22 46.25 40.49 135.42 40.61 135.4 46.34')
      polygon.chichen-1(points='124.17 40.59 57.5 40.51 57.55 25.81 124.22 25.89 124.17 40.59')
      polygon.chichen-2(points='124.2 31.62 57.53 31.54 57.55 25.81 124.22 25.89 124.2 31.62')
      g#stairs
        polygon.chichen-3(points='101.83 25.86 90.88 25.85 79.94 25.83 51.08 128.71 90.54 128.76 130 128.81 101.83 25.86')
        polygon.chichen-2(points='98.92 25.86 90.88 25.85 82.85 25.84 61.57 128.72 90.54 128.76 119.51 128.79 98.92 25.86')
        polygon.chichen-4(points='68.81 93.72 68.24 96.48 113.06 96.54 112.5 93.78 68.81 93.72')
        polygon.chichen-4(points='70.28 86.59 69.71 89.35 111.63 89.41 111.08 86.64 70.28 86.59')
        polygon.chichen-4(points='67.33 100.85 66.76 103.61 114.48 103.67 113.93 100.91 67.33 100.85')
        polygon.chichen-4(points='71.76 79.46 71.19 82.22 110.2 82.27 109.65 79.51 71.76 79.46')
        polygon.chichen-4(points='65.86 107.98 65.29 110.74 115.91 110.81 115.36 108.04 65.86 107.98')
        polygon.chichen-4(points='64.39 115.11 63.81 117.87 117.34 117.94 116.78 115.18 64.39 115.11')
        polygon.chichen-4(points='118.76 125.07 118.21 122.31 62.91 122.24 62.34 125 118.76 125.07')
        polygon.chichen-4(points='73.23 72.33 72.66 75.09 108.77 75.14 108.22 72.38 73.23 72.33')
        polygon.chichen-4(points='80.61 36.69 80.04 39.45 101.64 39.47 101.09 36.71 80.61 36.69')
        polygon.chichen-4(points='79.13 43.82 78.56 46.58 103.07 46.61 102.51 43.84 79.13 43.82')
        polygon.chichen-4(points='82.08 29.56 81.51 32.32 100.21 32.34 99.66 29.58 82.08 29.56')
        polygon.chichen-4(points='76.18 58.08 75.61 60.84 105.92 60.87 105.37 58.11 76.18 58.08')
        polygon.chichen-4(points='74.71 65.2 74.14 67.96 107.35 68.01 106.8 65.25 74.71 65.2')
        polygon.chichen-4(points='77.66 50.95 77.09 53.7 104.49 53.74 103.94 50.98 77.66 50.95')
    g#roof
      polygon.chichen-5(points='107.49 25.87 74.28 25.83 74.35 4.45 107.56 4.49 107.49 25.87')
      polygon.chichen-3(points='107.51 20.09 74.3 20.05 74.32 14.18 107.53 14.22 107.51 20.09')
      polygon.chichen-6(points='97.82 25.86 83.94 25.84 84 7.67 97.88 7.69 97.82 25.86')
      polygon.chichen-3(points='109.07 9.02 72.81 8.97 72.83 2.91 109.09 2.95 109.07 9.02')
      polygon.chichen-3(points='109.5 7.02 72.4 6.97 72.4 4.91 109.5 4.96 109.5 7.02')
      g#rails
        polygon.chichen-4(points='75.49 2.91 72.83 2.91 72.84 0 75.5 0 75.49 2.91')
        polygon.chichen-4(points='81.09 2.92 78.43 2.92 78.44 0.01 81.1 0.01 81.09 2.92')
        polygon.chichen-4(points='86.69 2.92 84.03 2.92 84.04 0.01 86.7 0.02 86.69 2.92')
        polygon.chichen-4(points='92.29 2.93 89.63 2.93 89.64 0.02 92.3 0.02 92.29 2.93')
        polygon.chichen-4(points='97.89 2.94 95.23 2.94 95.24 0.03 97.9 0.03 97.89 2.94')
        polygon.chichen-4(points='103.49 2.95 100.83 2.94 100.84 0.04 103.5 0.04 103.49 2.95')
        polygon.chichen-4(points='109.09 2.95 106.43 2.95 106.44 0.04 109.1 0.05 109.09 2.95')