@import '~@codeinc.mx/hero-component/scss/basic.scss';
@import "../../Atoms/heading/style.scss";
@import "../../Molecules/monuments/style.scss";

$hero__className: 'hero';

@include basic-hero($hero__className, (full-screen: false)) {

  width: 100vw;

  &__container {
    height: 530px;
    position: relative;
  }

  &__slogan {
    @include animate(fadeIn) {
      opacity: 0;
      animation-delay: 1.4s;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    @include is-heading(cursive) {
      width: 100%;
      position: absolute;
      top: 90px;
    }
  }

  @include add-monuments();
}

@include bg-parallax($hero__className){
  background: linear-gradient(90deg, #00a8e0, #00c0e2);
}
