svg(class='svg-pisa' xmlns='http://www.w3.org/2000/svg', viewBox='0 0 85 260')
  defs
    style.
      .pisa-1{fill:#e2d2c5;}.pisa-2{fill:#f7d8c1;}.pisa-3{fill:#3a3a3a;}
  g#Pisa
    polygon#last_floor.pisa-1(data-name='last floor', points='76.83 47.72 36.81 42.88 41.15 5.75 81.17 10.59 76.83 47.72')
    polygon#base.pisa-2(points='63.98 261.57 0 253.83 3.55 223.49 67.52 231.23 63.98 261.57')
    polygon#silhouette.pisa-2(points='62.52 231.43 8.36 224.88 30.23 37.84 84.39 44.39 62.52 231.43')
    polygon#last-floor-railing.pisa-1(points='85.14 44.95 29.37 38.21 29.93 33.41 85.7 40.16 85.14 44.95')
    path#roof-railing.pisa-1(d='M73.78,9.43l-8.39-1-4.2-.5L57,7.4l-8.39-1-8.4-1-.57,4.9,1,.12A3.38,3.38,0,0,1,44,7.86a3.4,3.4,0,0,1,2.71,3.27l1.3.16,1,.12a3.35,3.35,0,0,1,3.39-2.53,3.4,3.4,0,0,1,2.71,3.27l1.29.15,1,.12a3.38,3.38,0,0,1,3.39-2.53l.14,0h.15a3.39,3.39,0,0,1,2.71,3.26l1,.13,1.29.15a3.37,3.37,0,0,1,3.39-2.53,3.41,3.41,0,0,1,2.71,3.27l1,.12,1.29.16A3.36,3.36,0,0,1,77.89,12a3.4,3.4,0,0,1,2.71,3.27l1,.12.58-4.91Z')
    path#base-railing.pisa-1(d='M55.48,228.63,42.27,227l-6.6-.8-6.61-.8-13.2-1.6L2.65,222.25,1.75,230l1.58.19c.87-2.56,3-4.26,5.33-4s4,2.45,4.26,5.14l2,.24,1.58.2c.87-2.56,3-4.26,5.33-4s4,2.45,4.27,5.14l2,.24,1.58.19c.87-2.55,3-4.25,5.33-4l.22,0h.23c2.31.28,4,2.45,4.27,5.14l1.58.19,2,.24c.87-2.55,3-4.25,5.33-4s4,2.44,4.26,5.13l1.58.2,2,.24c.87-2.55,3-4.25,5.33-4s4,2.45,4.26,5.14l1.58.19.9-7.71Z')
    g#doors1
      path.pisa-3(d='M10,255l1.93-16.5c.24-2.07-.92-3.92-2.61-4.13s-3.24,1.32-3.48,3.4L3.9,254.3Z')
      path.pisa-3(d='M22.51,256.55l1.93-16.49c.24-2.08-.92-3.93-2.61-4.13s-3.24,1.31-3.48,3.39l-1.93,16.5Z')
      path.pisa-3(d='M35,258.07,37,241.57c.24-2.07-.92-3.92-2.6-4.13s-3.25,1.32-3.49,3.4l-1.93,16.49Z')
      path.pisa-3(d='M47.55,259.58l1.93-16.49c.25-2.08-.92-3.93-2.6-4.13s-3.25,1.31-3.49,3.39l-1.93,16.5Z')
      path.pisa-3(d='M60.07,261.1,62,244.6c.25-2.08-.92-3.93-2.6-4.13s-3.24,1.32-3.49,3.39L54,260.36Z')
    g#doors2
      path.pisa-3(d='M18.38,222.36,20.18,207c.22-1.94-.86-3.66-2.43-3.85s-3,1.22-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M28.65,223.6l1.8-15.37c.22-1.94-.87-3.66-2.43-3.85s-3,1.23-3.25,3.16L23,222.92Z')
      path.pisa-3(d='M38.92,224.85l1.79-15.38c.23-1.93-.86-3.66-2.42-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M49.19,226.09,51,210.71c.23-1.93-.86-3.66-2.42-3.85s-3,1.23-3.25,3.17l-1.8,15.37Z')
      path.pisa-3(d='M59.46,227.33,61.25,212c.23-1.93-.86-3.65-2.43-3.84s-3,1.22-3.24,3.16l-1.8,15.37Z')
      polygon.pisa-3(points='63.96 229.66 7.37 222.82 7.75 219.57 64.34 226.41 63.96 229.66')
    g#doors3
      path.pisa-3(d='M21.49,195.75l1.8-15.37c.22-1.94-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M31.76,197l1.8-15.38c.22-1.93-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M42,198.24l1.8-15.38c.22-1.93-.87-3.66-2.43-3.85s-3,1.23-3.25,3.17l-1.8,15.37Z')
      path.pisa-3(d='M52.3,199.48l1.8-15.38c.22-1.93-.87-3.65-2.43-3.84s-3,1.22-3.25,3.16l-1.8,15.37Z')
      path.pisa-3(d='M62.57,200.72l1.79-15.37c.23-1.94-.86-3.66-2.42-3.85s-3,1.22-3.25,3.16L56.89,200Z')
      polygon.pisa-3(points='67.07 203.05 10.48 196.21 10.86 192.96 67.45 199.8 67.07 203.05')
    g#doors4
      path.pisa-3(d='M24.6,169.15l1.8-15.38c.22-1.93-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M34.87,170.39,36.67,155c.22-1.93-.86-3.66-2.43-3.85s-3,1.23-3.25,3.17l-1.8,15.37Z')
      path.pisa-3(d='M45.14,171.63l1.8-15.38c.22-1.93-.86-3.65-2.43-3.84s-3,1.22-3.25,3.16l-1.8,15.37Z')
      path.pisa-3(d='M55.41,172.87l1.8-15.37c.22-1.94-.87-3.66-2.43-3.85s-3,1.22-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M65.68,174.11l1.79-15.37c.23-1.94-.86-3.66-2.42-3.85s-3,1.23-3.25,3.16L60,173.43Z')
      polygon.pisa-3(points='70.18 176.44 13.59 169.6 13.97 166.35 70.56 173.19 70.18 176.44')
    g#doors5
      path.pisa-3(d='M27.71,142.54l1.8-15.38c.23-1.93-.86-3.66-2.43-3.84s-3,1.22-3.25,3.16L22,141.85Z')
      path.pisa-3(d='M38,143.78l1.8-15.38c.22-1.93-.86-3.65-2.43-3.84s-3,1.22-3.25,3.16l-1.8,15.37Z')
      path.pisa-3(d='M48.25,145l1.8-15.37c.22-1.94-.86-3.66-2.43-3.85s-3,1.22-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M58.52,146.26l1.8-15.37c.22-1.94-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M68.79,147.51l1.8-15.38c.22-1.94-.87-3.66-2.43-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      polygon.pisa-3(points='73.29 149.84 16.7 142.99 17.08 139.74 73.67 146.59 73.29 149.84')
    g#doors6
      path.pisa-3(d='M30.82,115.93l1.8-15.38c.23-1.93-.86-3.65-2.43-3.84s-3,1.22-3.25,3.16l-1.8,15.37Z')
      path.pisa-3(d='M41.09,117.17l1.8-15.37c.23-1.94-.86-3.66-2.43-3.85s-3,1.22-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M51.36,118.41,53.16,103c.22-1.94-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M61.63,119.66l1.8-15.38c.22-1.94-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16L56,119Z')
      path.pisa-3(d='M71.9,120.9l1.8-15.38c.22-1.93-.86-3.66-2.43-3.85s-3,1.23-3.25,3.17l-1.8,15.37Z')
      polygon.pisa-3(points='76.4 123.23 19.81 116.39 20.19 113.14 76.78 119.98 76.4 123.23')
    g#doors7
      path.pisa-3(d='M33.93,89.32,35.73,74C36,72,34.87,70.29,33.3,70.1s-3,1.22-3.25,3.16L28.26,88.64Z')
      path.pisa-3(d='M44.2,90.56,46,75.19c.23-1.94-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M54.47,91.81l1.8-15.38c.23-1.94-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16l-1.8,15.38Z')
      path.pisa-3(d='M64.74,93.05l1.8-15.38c.22-1.93-.86-3.66-2.43-3.85s-3,1.23-3.25,3.17l-1.8,15.37Z')
      path.pisa-3(d='M75,94.29l1.8-15.38C77,77,76,75.26,74.38,75.07s-3,1.22-3.25,3.16L69.33,93.6Z')
      polygon.pisa-3(points='79.51 96.62 22.92 89.78 23.3 86.53 79.89 93.37 79.51 96.62')
    g#doors8
      path.pisa-3(d='M37,62.71l1.8-15.37c.23-1.94-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16L31.37,62Z')
      path.pisa-3(d='M47.31,64l1.8-15.38c.23-1.93-.86-3.66-2.43-3.85s-3,1.23-3.25,3.16L41.64,63.27Z')
      path.pisa-3(d='M57.58,65.2l1.8-15.38c.23-1.93-.86-3.66-2.43-3.85s-3,1.23-3.25,3.17L51.9,64.51Z')
      path.pisa-3(d='M67.85,66.44l1.8-15.38c.23-1.93-.86-3.65-2.43-3.84s-3,1.22-3.25,3.16l-1.8,15.37Z')
      path.pisa-3(d='M78.12,67.68l1.8-15.37c.22-1.94-.86-3.66-2.43-3.85s-3,1.22-3.25,3.16L72.44,67Z')
      polygon.pisa-3(points='82.63 70.01 26.04 63.17 26.41 59.92 83 66.76 82.63 70.01')
    g#doors9
      path.pisa-3(d='M46.34,33.74,48,19.46c.21-1.79-.8-3.39-2.26-3.57s-2.8,1.14-3,2.94L41.07,33.1Z')
      path.pisa-3(d='M55.87,34.89l1.67-14.27c.21-1.8-.8-3.4-2.25-3.58s-2.81,1.14-3,2.94L50.6,34.26Z')
      path.pisa-3(d='M65.41,36.05l1.67-14.28c.21-1.8-.8-3.4-2.26-3.57s-2.8,1.13-3,2.93L60.14,35.41Z')
      path.pisa-3(d='M74.94,37.2l1.67-14.28c.21-1.8-.8-3.4-2.25-3.57s-2.81,1.14-3,2.93L69.67,36.56Z')
      polygon.pisa-3(points='78.92 39.34 36.71 34.23 37.07 31.22 79.27 36.32 78.92 39.34')
    g#roof
      polygon.pisa-1(points='44.39 5.88 43.19 5.73 43.76 0.86 44.96 1 44.39 5.88')
      polygon.pisa-1(points='47.87 6.3 46.67 6.15 47.24 1.28 48.44 1.42 47.87 6.3')
      polygon.pisa-1(points='51.35 6.72 50.15 6.57 50.72 1.7 51.92 1.84 51.35 6.72')
      polygon.pisa-1(points='54.83 7.14 53.63 6.99 54.2 2.12 55.4 2.26 54.83 7.14')
      polygon.pisa-1(points='58.31 7.56 57.11 7.41 57.68 2.54 58.88 2.68 58.31 7.56')
      polygon.pisa-1(points='61.79 7.98 60.59 7.83 61.16 2.96 62.36 3.1 61.79 7.98')
      polygon.pisa-1(points='65.27 8.4 64.07 8.26 64.64 3.38 65.84 3.53 65.27 8.4')
      polygon.pisa-1(points='68.75 8.82 67.55 8.68 68.12 3.8 69.32 3.95 68.75 8.82')
      polygon.pisa-1(points='72.23 9.24 71.03 9.1 71.6 4.22 72.8 4.37 72.23 9.24')
      polygon.pisa-1(points='75.71 9.66 74.51 9.52 75.08 4.64 76.28 4.79 75.71 9.66')
      polygon.pisa-1(points='79.19 10.08 77.99 9.94 78.56 5.06 79.76 5.21 79.19 10.08')
    path#roof-floor.pisa-1(d='M81.09,5.32a.64.64,0,0,1-.66.64L42.94,1.43a.67.67,0,0,1-.5-.78h0A.66.66,0,0,1,43.1,0L80.6,4.54a.66.66,0,0,1,.49.78Z')