extends ~@codeinc.mx/page-template-component/pug/template.pug

block templateConfig

block body
  block main
  link(href='https://fonts.googleapis.com/css?family=Caveat:700&display=swap', rel='stylesheet')
